[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
furl="*"
requests = "*"
urllib3 = "*"
chardet = "*"
aiohttp = "*"
async_timeout = ">=4.0.3"
python-dateutil = "*"
# compressedfhir is needed for compressing and decompressing FHIR resources
compressedfhir = ">=1.0.13,<3.0.0"
# certifi is needed for SSL certificate verification
certifi = ">=2025.1.31"
# opentelemetry-api is the OpenTelemetry API
opentelemetry-api = ">=1.39"
# multidict is needed for handling multidict data structures
multidict = ">=6"

[dev-packages]
packaging = "*"  # packaging is needed for version parsing
wheel = ">=0.43.0"
twine=">=5.1.1"
pre-commit=">=4.0.1"
autoflake=">=2.3.1"
mypy = ">=1.15.0"
pytest = ">=8.3.3"
black = ">=24.10.0"
pytest-asyncio = ">=0.23.8"
types-requests=">=2.31.0"
types-python-dateutil=">=2.8.19.14"
Sphinx="==7.4.7"
sphinx-autoapi="==3.2.1"
sphinx-rtd-theme="==2.0.0"
myst-parser="==3.0.1"
helix-mockserver-client=">=2.0.4"
httpx=">=0.23.3"
aioresponses=">=0.7.6"
# deepdiff is a Python library for comparing objects
deepdiff = { version = ">=8.6.1" }
# pytest-benchmark is needed for running benchmark tests
pytest-benchmark = ">=4.0.0"
# msgpack-types provide type hints for msgpack
msgpack-types = { version = ">=0.5.0" }
objsize = ">=0.7.1"
types-orjson = ">=3.6.2"
bandit = ">=1.8.3"
ruff = ">=0.11.5"

[pipenvsetup]
vistir=">=0.6.1, <0.7.0" # https://github.com/Madoshakalaka/pipenv-setup/issues/138
plette = "<1.0.0" # https://github.com/Madoshakalaka/pipenv-setup/issues/138
pipenv-setup = ">=3.2.0"
setuptools = "==75.8.0"

[requires]
python_version = "3.12"
