[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
furl="*"
requests = "*"
urllib3 = "*"
chardet = "*"
aiohttp = "*"

[dev-packages]
setuptools=">=60.9.3"
wheel=">=0.37.1"
twine=">=3.8.0"
pre-commit=">=2.20.0"
autoflake=">=1.4"
flake8 = ">=5.0.4"
mypy = "==0.971"
pytest = "==7.1.2"
black = ">=22.6.0"
pipenv-setup = ">=3.2.0"
pytest-asyncio = ">=0.18.1"
types-requests = ">=2.27.11"
Sphinx="==4.1.2"
sphinx-autoapi="==1.8.4"
sphinx-rtd-theme="==0.5.2"
myst-parser="==0.15.1"
helix-mockserver-client=">=0.1.3"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = false
